{% extends 'base.html' %}

{% block title %}All Diseases{% endblock %}

{% block navbar %}
    {% include 'header.html' %}
{% endblock %}

{% block nav %}
                    <li class="nav-item">
                        <h1 class="nav-brand">All Diseases</h1>
                    </li>
{% endblock %}

{% block body %}
    <div class="container container-bordered container-fluid my-4">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type of cause</th>
                        <th scope="col">Cause</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for disease in diseases %}
                        <tr>
                            <th scope="row">{{diseases.index(disease)+1}}</th>
                            <td>
                                <a href="/detail disease/{{disease['dieseaseName']}}">
                                    {{disease['dieseaseName']}}
                                </a>
                            </td>
                            <td>{{disease['typeofCause']}}</td>
                            <td><p class="font-italic">{{disease['nameofCause']}}</p></td>
                            <td>
                                <button class="btn btn-success">
                                    <a href="/edit disease/{{disease['dieseaseName']}}">
                                        <span id="myLink">
                                            Edit
                                        </span>
                                    </a>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}