{% extends 'base.html' %}

{% block title %}All Patients{% endblock %}

{% block navbar %}
    {% include 'header.html' %}
{% endblock %}

{% block nav %}
                    <li class="nav-item">
                        <h1 class="nav-brand">All Patients</h1>
                    </li>
{% endblock %}

{% block body %}
    <div class="container container-bordered container-fluid my-3" >
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">id</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">DOB</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                        <tr>
                            <th scope="col">{{patients.index(patient)}}</th>
                            <td>{{patient['patientId']}}</td>
                            <td>
                                <a href="/detail patient/{{patient['patientId']}}">
                                    {{patient['fname']}}
                                </a>
                            </td>
                            <td>{{patient['lname']}}</td>
                            <td>{{patient['email']}}</td>
                            <td>{{patient['paymentMethod']}}</td>
                            <td>{{patient['DOB']}}</td>
                            <td>
                                <button class="btn btn-success">
                                    <a href="/edit patient/{{patient['patientId']}}">
                                        <span id="myLink">
                                            Edit
                                        </span>
                                    </a>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}