{% extends 'base.html' %}

{% block title %}{{dieseaseName}} Drugs{% endblock %}

{% block navbar %}
    {% include 'header.html' %}
{% endblock %}

{% block nav %} 
                    <li class="nav-item">
                        <h1 class="nav-brand">{{dieseaseName}} Drugs</h1>
                    </li>
                    <li class="nav-item">
                        <a href="/detail disease/{{dieseaseName}}" class="nav-link">
                            Detail {{dieseaseName}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/edit disease/{{dieseaseName}}" class="nav-link">
                            Edit {{dieseaseName}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/disease add drug/{{dieseaseName}}" class="nav-link">
                            Add Drugs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/disease add vaccine/{{dieseaseName}}" class="nav-link">
                            Add Vaccines
                        </a>
                    </li>
                        <form class="d-flex" action="" method="post">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchItem" id="searchItem">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
{% endblock %}

{% block body %}
    <div class="container container-bordered container-fluid my-3">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Manufacturer</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for drug in drugs %}
                        <tr>
                            <th scope="row">{{drugs.index(drug)+1}}</th>
                            <td>
                                <a href="/detail drug/{{drug['drugName']}}">
                                    <span id="myWord">
                                        {{drug['drugName']}}
                                    </span>
                                </a>
                            </td>
                            <td>{{drug['drugManufacturer']}}</td>
                            <td>
                                <button class="btn btn-success">
                                    <a href="/disease has drug/{{dieseaseName}}/{{drug['drugName']}}">
                                        <span id="myLink">
                                            Add
                                        </span>
                                    </a>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
