{% extends 'base.html' %}

{% block title %}Ticket {{treatId}} Prescription{% endblock %}

{% block navbar %}
    {% include 'header.html' %}
{% endblock %}

{% block nav %}
                <li class="nav-item">
                    <h1 class="navbar-brand">Ticket {{treatId}} Prescription</h1>
                </li>
                <li class="nav-item">
                    <a href="/success treatment/{{treatId}}" class="nav-link">
                        Details
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/employee diagnise/{{treatId}}/{{fname}}" class="nav-link">
                        Diagonise
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/employee prescription/{{treatId}}/{{fname}}" class="nav-link">
                        Prescription
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/treatment has disease/{{treatId}}/{{fname}}" class="nav-link">Disease</a>
                </li>
{% endblock %}   

{% block body %}
    <div class="container container-fluid my-3 border treatmentPage">
        <div class="my-3 mx-3">
            <form action="" method="post">
                <label for="prescribe" class="form-label">Prescription</label><br>
                <input type="text" name="prescribe" id="prescribe" class="form-control" placeholder="2 x 4"><br>
                <div class="row justify-content-center my-3">
                    <div class="col-3">
                        <input type="submit" value="Submit" class="btn btn-success">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
